/* TEXT IN METEORITE */
/* ----------------- */
Text {
    -fx-font-family: "Impact";
    -fx-font-size: 1.3em;
    -fx-fill: #fff;
    -fx-font-weight: bolder;
    -fx-effect: innershadow(one-pass-box, #000, 0, 1, 1, 1);
}
Text.typed_text {
    -fx-fill: #f00;
}

/* METEORITE WRAPPER */
/* ----------------- */
.meteorite_wrapper {
    -fx-background-image: url('../img/meteorite.png');
    /*-fx-background-image: url('../img/bomb_1.png');*/
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-padding: 10;
    -fx-effect: dropshadow(one-pass-box, #000, 10, 0.3, 0, 1);
}
